<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape", role="button">Scrape New Data</a> </p>
    </div>

    <div class="row">
      <div class="col-md-12">
          <h4>Latest Mars News</h4>
          <h6>{{marsdata.news_title}}<h6>
          <P><small>{{marsdata.news_paragraph}}</small> </P>   
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
          <h4>Featured Mars Image</h4>
          <figure class="figure">
            <img src="{{marsdata.feature_image_url}}" class="figure-img img-fluid" style='width:100%;' alt="Responsive image">
          </figure>
      </div>
      <div class="col-md-4">
           <div class="card">
            <div class="card-block">
              <div class="card-body">
                  <p><strong class="card-title">Current Weather on Mars</strong></p>
                      <small class="card-text">{{marsdata.mars_weather}}.</small>
              </div>
            </div>  
           </div>
           <p><strong>Mars Facts</strong></p>
           <small>{{marsdata.mars_fact|safe}}</small>
      </div>

      <div class="row">
          <div class="col-md-12">
            <h4 class="text-center">Mars Hemispheres</h4>
            <hr>
          </div>
      </div>
      

      <div class="row">
          <div class="col-md-6">
              <div class="card">
                  <img class='card-img-top' src="{{marsdata.hemisphere_image_urls[0].img_url}}" class="figure-img img-fluid" style='width:100%;' alt="Responsive image">
                  <div class="card-body">
                      <h4 class="card-title">{{marsdata.hemisphere_image_urls[0].title}}</h4>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="card">
                  <img class='card-img-top' src="{{marsdata.hemisphere_image_urls[1].img_url}}" class="figure-img img-fluid" style='width:100%;' alt="Responsive image">
                <div class="card-body">
                   <h4 class="card-title">{{marsdata.hemisphere_image_urls[1].title}}</h4>
                   
                </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-6">
              <div class="card">
                  <img class='card-img-top' src="{{marsdata.hemisphere_image_urls[2].img_url}}" class="figure-img img-fluid" style='width:100%;' alt="Responsive image">
                  <div class="card-body">
                    <h4 class="card-title">{{marsdata.hemisphere_image_urls[2].title}}</h4>
                    
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="card">
                  <img class='card-img-top' src="{{marsdata.hemisphere_image_urls[3].img_url}}" class="figure-img img-fluid" style='width:100%;' alt="Responsive image">
                <div class="card-body" style="width: 18rem;">
                  <h4 class="card-title">{{marsdata.hemisphere_image_urls[3].title}}</h4>
                  
                </div>
              </div>
          </div>

      </div>
  
  </div>
 

  </div>
</body>

</html>